@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,400&family=Poppins:wght@300;400;600&display=swap');

:root {
    --pink: #fb6f92;
    --light-pink: #ffc2d1;
    --cream: #fff5f6;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


.auth-page {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), 
                url('wallpaper1.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.shop-page {
    background: linear-gradient(rgba(255, 245, 246, 0.85), rgba(255, 245, 246, 0.85)), 
                url('wallpaper2.jpeg') no-repeat center center fixed;
    background-size: cover;
}

.glass-card {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    text-align: center;
    width: 350px;
}

.btn-main {
    background: var(--pink);
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
    width: 100%;
}

.btn-main:hover {
    background: #ff8fab;
    transform: scale(1.03);
}


.collection-title {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    text-align: center;
    color: var(--pink);
    margin: 60px 0 30px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 0 50px 100px;
}

.card {
    background: white;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid var(--light-pink);
    text-align: center;
    padding-bottom: 20px;
    transition: 0.3s;
}

.card img { width: 100%; height: 400px; object-fit: cover; }
.card h3 { font-family: 'Playfair Display'; margin: 15px 0; }


#cart-sidebar {
    position: fixed; right: -400px; top: 0; width: 350px; height: 100%;
    background: white; box-shadow: -5px 0 15px rgba(0,0,0,0.1);
    transition: 0.4s; z-index: 2000; padding: 30px;
}
#cart-sidebar.active { right: 0; }